<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1 style="color: #6495ED;">welcome to&nbsp;
      <strong  style="color: aqua;"><i class="fa-solid fa-book"></i>Bookers&nbsp;</strong>!!</h1>

      <p style="color: #6495ED;">In&nbsp;<strong><i class="fa-solid fa-book"></i>Bookers</strong>,</p>
      <p style="color: #6495ED;">you can share and exchange your opinions, inpressions, and emotions</p>
      <p style="color: #6495ED;">about various books!</p>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-pink btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to "Log in", new_user_session_path, class: "btn btn-skyblue btn-sm btn-block mb-3" %>
        </div>
        <div class="row">
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-green btn-sm btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('.row').hide(); // 最初は要素を非表示にする
  // 要素をふわっと表示させる処理
  $('.row').each(function(top) {
    // 順番にアニメーションで表示させる
    $(this).delay(200 * top).fadeIn(800);
  });
});
</script>