// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// ゲストログインボタン
.btn-pink {
  color: #ff69b4 !important; /* テキストの色をピンクに */
  background-color: transparent !important; /* 初期状態では背景色を透明に */
  border-color: #ff69b4 !important; /* ボーダーの色をピンクに */
  box-shadow: 3px 3px 5px #ff69b4 !important; /* ピンクのドロップシャドウを下と右に追加 */
}

.btn-pink:hover {
  color: #ffffff !important; /* ホバー時のテキスト色を白に */
  background-color: #ff85c1 !important; /* ホバー時の背景色をピンクに */
  border-color: #ff85c1 !important; /* ホバー時のボーダー色を少し明るいピンクに */
  box-shadow: 4px 4px 8px #ff85c1 !important; /* ホバー時に少し強調されたピンクのドロップシャドウを下と右に */
}

.btn-skyblue {
  color: #00ccff !important;
  background-color: transparent !important;
  border-color: #00ccff !important;
  box-shadow: 3px 3px 5px #00ccff !important;
}

.btn-skyblue:hover {
  color: #ffffff !important; /* ホバー時のテキスト色を白に */
  background-color: #00ccff !important;
  border-color: #00ccff !important;
  box-shadow: 4px 4px 8px #00ccff !important;
}

.btn-green {
  color: #00cc00 !important;
  background-color: transparent !important;
  border-color: #00cc00 !important;
  box-shadow: 3px 3px 5px #00cc00 !important;
}

.btn-green:hover {
  color: #ffffff !important; /* ホバー時のテキスト色を白に */
  background-color: #00cc00 !important;
  border-color: #00cc00 !important;
  box-shadow: 4px 4px 8px #00cc00 !important;
}